<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import libraries -->
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/adapter.min.js"></script>
    <script src="/lib/jquery.qrcode.min.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/main.js" type="module"></script>
  </head>
  
  <body>
    <video class="remote-video" autoplay playsinline poster="https://raw.githubusercontent.com/openhisilicon/openhisilicon.github.io/main/hiview_log.ico"></video>
    <input type="text" id="connect-to-peer" value="/hiview-camera"/>
    <button onclick="connectToPeer()">Connect</button>
    <div class="messages"></div>
    <hr/>
    <input type="text" id="SSID" value="ssid"/>
    <input type="text" id="PWD"  value="password"/>
    <button onclick="genQRcode()">QRcode</button>
    <div id="QRcodeCanvas"></div>
    <a href="/test.html">test</a>
    <video class="remote-audio" autoplay playsinline></video>
  </body>
  <script>
    function getQueryString(name) {
var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
var r = window.location.search.substr(1).match(reg);
if (r != null) {
return unescape(r[2]);
}
return null;
}
   // alert(GetQueryString("uuid"));
      document.getElementById('connect-to-peer').value = "/ccc";
  </script>
</html>
